nodejs/*
django/venv/
*.json
*.code-workspace
__init__.cpython-37.pyc
django/LEADTriviaApp/db.sqlite3
django/LEADTriviaApp/LEADTriviaApp/__pycache__/
django/LEADTriviaApp/app/__pycache__/
django/LEADTriviaApp/app/migrations/
venv/
#sup
ScopeOfWork.docx
.~lock*
.fuse_hidden0000009f00000001
