{% extends '../base.html' %}

{% load static %}

{% block content %}

<style>
#divRound{
    display: block;
    clear: both;
    float: center;
}
</style>

<script>

    var round = {{round|safe}};

    document.onreadystatechange = function() {
        var divRound = document.getElementById('divRound');
        divRound.innerText = "Round " + round + "!";
        setTimeout(function() {
            document.location="/app/show_question/";
        },5000)
    }

</script>

<body>

    <div id="divRound"></div>

</body>

{% endblock %}