{% extends '../base.html' %}

{% load static %}

{% block content %}

<style>

</style>

<script>
    var username = '{{username|safe}}'
    var round = {{round|safe}};

    document.addEventListener('readystatechange', function() {
        var divRound = document.getElementById('divRound');
        divRound.innerText = "Round " + round + "!";
        setTimeout(function() {
            document.location="/app/show_question/";
        },5000)
    });

</script>

<body>
    {% include "../Components/top_menu.html" %}
    <div id="divRound"></div>

</body>

{% endblock %}