.clock {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    height: 1.5em;
    width: auto;
    position: relative;
    float: right;
}

.hours {
    float: left;
    min-width: 1.25em;
    min-height: 1.25em;
}

.minutes {
    float: left;
    min-width: 1.25em;
    min-height: 1.25em;
}

.seconds {
    float: left;
    min-width: 1.25em;
    min-height: 1.25em;
}

.timesep {
    float: left;
    width: auto;
}