{% load static %}

<html lang="en">
    <header>
        <title>LEADTrivia</title>
        <link rel="stylesheet" href="{% static "app/styles/bootstrap.min.css" %}">
        <link rel="stylesheet" href="{% static "app/styles/app.css" %}">
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.css">
        <script src="{% static "app/scripts/app.js" %}"></script>
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    </header>
    {% block content %}
    {% endblock %}
    <footer>
    </footer>
</html>