{% load static %}

<html lang="en">
    <head>
        <meta name="csrf-token" content="{{ csrf_token }}">
        <title>LEADTrivia</title>
        <link rel="stylesheet" href="{% static "app/styles/bootstrap.min.css" %}">
        <link rel="stylesheet" href="{% static "app/styles/app.css" %}">
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.css">
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
        <script src="{% static "app/scripts/app.js" %}"></script>
        <script src="{% static "app/scripts/jquery.min.js" %}"></script>
        <script src="{% static "app/scripts/jquery-ui.min.js" %}"></script>
        <meta name=”viewport” content=”width=device-width, initial-scale=1″>
    </head>
    <header></header>
    {% block content %}
    {% endblock %}
    <footer></footer>
</html>