{% extends 'base.html' %}
{% load static %}
{% block content %}
<script>
    var data={{data|safe}};
    var username = "{{username|safe}}";
    var errors = {{errors|safe}};

    document.onreadystatechange=function() {
        if (document.readyState=="complete") {
            init();
        }
    }

    function init() {
        var teamIds = Object.keys(data['Teams']);
        attachGameId(data['Game'][0]);
        showErrors(errors);

        if (username === null || username == "None" || username == "null") {
            generateUserName(teamIds);
        } else {
            var user = document.getElementsByName("username");
            if (user.length>0) user = user[0];
            user.value = username;
        }

        

    }
    function attachGameId(id) {
        var form = document.getElementById('formUser');
        const hiddenField = document.createElement('input');
        hiddenField.type = 'hidden';
        hiddenField.name = 'gameId';
        hiddenField.value = id;
        form.appendChild(hiddenField);
    }
    
    function generateUserName(teamIds){
        var user = document.getElementsByName("userId");
        if (user.length>0) user = user[0];
        else return;

        var count = data ['Orphans'].length;
        teamIds.forEach(element => {
            count += data ['Teams'][element]["members"].length;
        });
        user.value = "User " + count;

    }

    function showErrors(errors) {
        var listError = document.getElementById("ulErrors");

        errors.forEach(element=> {
            var item = document.createElement("li");
            item.innerText=element;
            listError.appendChild(item);
        });
    }

    function validateForm() {
        var user = document.getElementById('userId');
        if (user.value.length > 0) return true;
        else return false;

    }
</script>
<body>
    <div>
        <p>Welcome to LEAD Trivia Night!</p>
        
        <form id="formUser" method="POST" onsubmit="return validateForm()" action="/app/lobby/">
            {% csrf_token %}
            <div id="userInfo">
                <p>Please select a user name:</p>
                <input type="text" id="username" class="infoitem" name ="username" value = "User"></input>
                <ul id="ulErrors"></ul>
            </div>
        </form>
    </div>
</body>
{% endblock %}