{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>

    body{
            background-color: cyan;
            background-image: linear-gradient(white, lightblue, steelblue );
            background-repeat: no-repeat;
            background-attachment: fixed;
        }

    #title{
        display: block;
        width: 100%;
        text-align: center;
        color: slategrey;
        margin-left: auto;
        margin-right: auto;
        font-size: 2vw;
        text-shadow: -.015rem 0 black, 0 .015rem black, .015rem 0 black, 0 -.015rem black;
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }

    #divGames {
        display: block;
        float:left;
        clear:both;
    }

    .container {
        display: grid;
        grid-template-rows: auto auto;
        max-width: 95% !important;
        width: 95% !important;
        justify-content: center;
        align-items: center;
    }

    .gameItem {
        float:left;
        margin:0.25rem;
        padding: 0;
        width: 25rem;
        border: black solid 1px;
        /* background-color: rgba(255, 255, 255, 0.4); */
        background-color: white;
    }

    .label{
        text-align: center;
        font-size: 1rem;
        padding:0.25rem;
        margin:0;
        background-color:silver;
        border-bottom: black solid 1px;
        width:100%;
    }

    .itemLabel{
        font-size: 1rem;
        float:left;
    }

    .btn-container {
        display: grid;
        grid-template-columns: 50% 50%;
        width:90%;
        column-gap: .75rem;

        /* controls.style.clear='both';
        controls.style.width='100%';
        controls.style.alignItems='center';
        controls.style.justifyContent='center';
        controls.style.display='flex'; */
    }

    .btn-container .btn {
        width: 100%;
    }

    .btn{
        font-size:1rem;
    }


</style>

<style>
    
</style>

<script>
    var games = {{games|safe}};
    var lastGameId={{gameId|safe}};
    var lastGameName = "{{gameName|safe}}";
    var username = "{{username|safe}}";
    var errors = {{errors|safe}};

    document.onreadystatechange=function() {
        if (document.readyState=="complete") {
            init();
        }
    }

    function init() {
        showGames()
    }

    function showGames() {
        var divGames = document.getElementById('divGames');
        
        var items = document.createElement('div');
        
        // for (var i=0; i<games.length; i++) list.append(createGame(games[i]));
        for (var i=0; i<5; i++) items.append(createGame(games[0]));
        
        divGames.appendChild(items);
    }

    function parseGameState(state) {
            switch (state) {
                case 0:
                    return 'Waiting';
                case 1:
                    return 'Started';
                case 2:
                    return 'Finished';
                default:
                    return 'Undefined';
            }
        }

    function createGame(game) {
        var gameItem = document.createElement('div');
        gameItem.classList.add('gameItem');

        var divContent = document.createElement('div');
        var label = document.createElement('label');
        label.classList.add('label');
        label.innerText = game['name'];
    
        var ul = document.createElement('ul');
        
        ul.appendChild(createField('Status:',parseGameState(game['state'])));
        ul.appendChild(createField('Current Round:',game['current_round']));
        ul.appendChild(createField('Current Question:',game['current_question_index']+1));
        // ul.appendChild(createField('Start Date:',game['start_time']['date']));
        // ul.appendChild(createField('Start Time:',game['start_time']['time']));
        if (game['start_time']!=undefined && game['start_time']['date']!=undefined && game['start_time']['time']!=undefined) {
            var val = game['start_time']['date'] + 'T' + game['start_time']['time'] + '.000Z';
            var value = Date.parse(val);
            var dtm = new Date(value);
            ul.appendChild(createField("Start Date:", dtm.toLocaleDateString()));
            ul.appendChild(createField("Start Time:",dtm.toLocaleTimeString()));
        };
        ul.appendChild(createField('Is Cancelled:',game['is_cancelled']));
        ul.appendChild(createField('Teams:',game['team_count']));
        ul.appendChild(createField('Players:',game['user_count']));

        var controls = document.createElement('div');
        controls.classList.add('btn-container');
        
        var btnJoin = document.createElement('button');
        btnJoin.classList.add('btn');
        btnJoin.style.margin='0.5rem';
        btnJoin.innerText = 'Join Game';

        if (game['state']!=2) {
            btnJoin.classList.add('btn-primary');
            btnJoin.addEventListener('click',function() {
                joinGame(game,true);
            });    
        } else {
            btnJoin.classList.add('btn-danger');
            btnJoin.disabled=true;
            btnJoin.alt = 'Game is Finished';
        }
        
        
        var btnCompetition = document.createElement('button');
        btnCompetition.classList.add('btn');
        btnCompetition.classList.add('btn-success');
        btnCompetition.style.margin='0.5rem';
        btnCompetition.innerText = 'View Game';
        btnCompetition.addEventListener('click',function() {
            joinGame(game,false);
        });

        controls.appendChild(btnJoin);
        controls.appendChild(btnCompetition);

        divContent.appendChild(label);
        divContent.appendChild(ul);
        divContent.appendChild(controls);
        
        gameItem.appendChild(divContent);

        return gameItem
    }

    function joinGame(game,is_player) {
        if (game!=undefined) {
            var form = document.createElement('form');
            form.action='/app/lobby/';
            form.method='POST';

            var div = document.createElement('div');
            div.innerHTML='{%csrf_token%}';
            var input_gameId = document.createElement('input');
            input_gameId.type='hidden';
            input_gameId.name='gameId';
            input_gameId.value=game.id;
            div.appendChild(input_gameId);

            var input_mode = document.createElement('input');
            input_mode.type='hidden';
            input_mode.name='mode';
            if (is_player)
                input_mode.value=0;
            else
                input_mode.value=1
            div.appendChild(input_mode);

            form.appendChild(div);
            document.body.appendChild(form);
            form.submit();
        }
    }

    function createField(label,value) {
        var li = document.createElement('li');
        li.style.listStyleType='none';
        // li.style.clear='both';

        // li.classList.add('list-item');

        var divContent = document.createElement('div');
        divContent.style.clear='both';
        divContent.style.width='auto';
        divContent.style.padding='0.1rem';

        var divLabel = document.createElement('label');
        divLabel.classList.add('itemLabel')
        divLabel.style.marginRight = '0.5rem';
        divLabel.innerText=label;

        var divValue = document.createElement('div');
        divValue.classList.add('itemLabel')
        divValue.innerText = value;

        divContent.appendChild(divLabel);
        divContent.appendChild(divValue);

        li.appendChild(divContent);
        return li;
    }

</script>
<body>
    {% include "Components/top_menu.html" %}
    <div class="container">
        <div id='title'>Welcome to LEAD Trivia!</div>
        <div id='divGames'>
        </div>
        <ul id="ulErrors"></ul>
    </div>
</body>
{% endblock %}