{% extends 'base.html' %}
{% load static %}
{% block content %}
<meta name=”viewport” content=”width=device-width, initial-scale=1″>

<style>

    #title{
            padding-top: 1em;
            padding-bottom: 1em;
            padding-left: 1.5em;
            font-size: 35px;
            text-shadow: -.015em 0 black, 0 .015em black, .015em 0 black, 0 -.015em black;
            font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }

    #divLi{
            display:block;
            clear: both;
            width: auto;

        }

    @media (max-width: 1000px){
        #title{
            padding-bottom: 1em;
            padding-left: 4.0em;
            font-size: 55px;
            text-shadow: -.015em 0 black, 0 .015em black, .015em 0 black, 0 -.015em black;
            font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        }

        #divLi{
            display:block;
            clear: both;
            width: 600px; 
            padding-left: 13em; 
            
        }

        #idList{
            display:block;
            clear: both;
            float: center;
            width: 600px; 

        }

        body{
            background-color: cyan;
            background-image: linear-gradient(white, lightblue, steelblue );
            background-repeat: no-repeat;
            background-attachment: fixed;
        }



        #labelID{
            text-align: center;
            font-size: 50px;
        }

        #divLableId{
            font-size: 50px;
        }

        #buttonClass{
            width:210px;
            height:100px;
            font-size:35px;
        }
    }

</style>

<style>
    
</style>

<script>
    var games = {{games|safe}};
    var lastGameId={{gameId|safe}};
    var lastGameName = "{{gamename|safe}}";
    var username = "{{username|safe}}";
    var errors = {{errors|safe}};

    document.onreadystatechange=function() {
        if (document.readyState=="complete") {
            init();
        }
    }

    function init() {
        showGames()
    }

    function showGames() {
        var divGames = document.getElementById('divGames');
        
        var list = document.createElement('ul');
        list.id = "divLi";
        list.style.listStyleType='none';
        list.classList.add('list');

        for (var i=0; i<games.length; i++) list.append(createGame(games[i]));
        
        divGames.appendChild(list);
    }

    function parseGameState(state) {
            switch (state) {
                case 0:
                    return 'Waiting';
                case 1:
                    return 'Started';
                case 2:
                    return 'Finished';
                default:
                    return 'Undefined';
            }
        }

    function createGame(game) {
        var li = document.createElement('li');
        li.id = "idList";
        // li.style.clear='both';
        // li.classList.add('border');
        li.classList.add('list');
        li.style.float='left';
        li.style.margin='0.5em';

        if (game['state']==2) {
            li.style.backgroundColor='silver';
        }

        var divContent = document.createElement('div');
        var label = document.createElement('label');
        label.id = "labelID";
        label.style.cursor='pointer';
        label.style.padding='0.25em';
        label.innerText = game['name'];
        label.style.backgroundColor='silver';
        label.style.width='100%';
        label.style.borderBottom = 'solid silver 5px';

        var ul = document.createElement('ul');
        
        ul.appendChild(createField('Status:',parseGameState(game['state'])));
        ul.appendChild(createField('Current Round:',game['current_round']));
        ul.appendChild(createField('Current Question:',game['current_question_index']+1));
        ul.appendChild(createField('Start Date:',game['start_time']['date']));
        ul.appendChild(createField('Start Time:',game['start_time']['time']));
        ul.appendChild(createField('Is Cancelled:',game['is_cancelled']));
        ul.appendChild(createField('Teams:',game['team_count']));
        ul.appendChild(createField('Players:',game['user_count']));

        var controls = document.createElement('div');
        controls.style.clear='both';
        controls.style.width='100%';
        controls.style.alignItems='center';
        controls.style.justifyContent='center';
        controls.style.display='flex';

        var btnJoin = document.createElement('button');
        btnJoin.id = "buttonClass";
        btnJoin.classList.add('btn');
        btnJoin.classList.add('btn-primary');
        btnJoin.style.margin='0.5em';
        btnJoin.innerText = 'Join Game';
        btnJoin.addEventListener('click',function() {
            joinGame(game,true);
        });
        
        var btnCompetition = document.createElement('button');
        btnCompetition.id = "buttonClass";
        btnCompetition.classList.add('btn');
        btnCompetition.classList.add('btn-success');
        btnCompetition.style.margin='0.5em';
        btnCompetition.innerText = 'View Game';
        btnCompetition.addEventListener('click',function() {
            joinGame(game,false);
        });

        controls.appendChild(btnJoin);
        controls.appendChild(btnCompetition);

        divContent.appendChild(label);
        divContent.appendChild(ul);
        divContent.appendChild(controls);
        
        li.appendChild(divContent);

        return li
    }

    function joinGame(game,is_player) {
        if (game!=undefined) {
            var form = document.createElement('form');
            form.action='/app/lobby/';
            form.method='POST';

            var div = document.createElement('div');
            div.innerHTML='{%csrf_token%}';
            var input_gameId = document.createElement('input');
            input_gameId.type='hidden';
            input_gameId.name='gameId';
            input_gameId.value=game.id;
            div.appendChild(input_gameId);

            var input_mode = document.createElement('input');
            input_mode.type='hidden';
            input_mode.name='mode';
            if (is_player)
                input_mode.value=0;
            else
                input_mode.value=1
            div.appendChild(input_mode);

            form.appendChild(div);
            document.body.appendChild(form);
            form.submit();
        }
    }

    function createField(label,value) {
        var li = document.createElement('li');
        li.style.listStyleType='none';
        // li.style.clear='both';

        // li.classList.add('list-item');

        var divContent = document.createElement('div');
        divContent.style.clear='both';
        divContent.style.width='auto';
        divContent.style.padding='0.1em';

        var divLabel = document.createElement('label');
        divLabel.id = "divLableId";
        divLabel.style.float='left';
        divLabel.innerText=label;

        var divValue = document.createElement('div');
        divValue.id = "divLableId";
        divValue.style.float='left';
        divValue.style.marginLeft = '0.5em';
        divValue.innerText = value;

        divContent.appendChild(divLabel);
        divContent.appendChild(divValue);

        li.appendChild(divContent);
        return li;
    }

</script>
<body>
    <div>
        {% include "Components/top_menu.html" %}
        <div id='title'>Welcome to LEAD Trivia!</div>
        <div id='divGames'>
        </div>
        <ul id="ulErrors"></ul>

    </div>
</body>
{% endblock %}