{% extends 'base.html'%}
{% load static %}

{% block content%}
<!-- <img src= alt="Lobby"> -->

<link rel="stylesheet" type="text/css" href="{% static "app/styles/digitalclock.css" %}">

<style>
    body{ 
    background: #fff url({% static "app/images/lobbyimage.jpg" %}) no-repeat center;
    background-color: firebrick;
    }
    #header {
        clear:both;
        position: relative;
        top: 0em;
        left:0em;
        height:auto;
        overflow: auto;
    }
    #body {
        clear:both;
        height: auto;
        overflow: auto;
        flex-wrap: wrap;
    }
    #footer {
        clear:both;
        position: relative;
        bottom: 0em;
        left:0em;
        height: auto;
        overflow: auto;
    }
    #divTeams {
        align-content:flex-start;
    }
    #divTitle {
        align-self: center;
        float:left;
    }
    #userInfo {
        background-color: whitesmoke;
        margin: 1em;
    }
    .infoitem {
        display: inline;
    }

    .h1 {
        background-color: whitesmoke;
        display: inline-block;
        align-content: center;
    }
    .divTeam {
        float:left;
        background-color: whitesmoke;
        padding: 1em;
        border-radius: 5%;
        border-color: black;
        border-width: 0.5;
        border-style: solid;
    }
</style>

<script type="text/javascript" src="{% static "app/scripts/digitalclock.js" %}"></script>

<script>
    var game={{game|safe}};
    var teams={{teams|safe}};
    var orphans={{orphans|safe}};
    var username = "{{username|safe}}";
    var gameId = {{gameId|safe}};
    var timeremaining = 0;

    document.onreadystatechange=function() {
        if (document.readyState=="complete") {
            init()
        }
    }

    function init() {
        initClock(timeremaining);
        initTeams();
    }

    function timeup() {
        alert('Time expired');
    }

    function initClock(time) {
        var divHours = document.getElementsByClassName("hours")[0];
        var divMinutes = document.getElementsByClassName("minutes")[0];
        var divSeconds = document.getElementsByClassName("seconds")[0];
        initLocalClock(time,divHours,divMinutes,divSeconds);
        setAction(timeup);
    }
    function initTeams() {
        var btnNewTeam = document.getElementById("btnNewTeam");
        var formTeams = document.getElementById("formTeams");
        var divTeams = document.getElementById("divTeams");
        var divUser = document.getElementById("divUser");
        var teamIds = Object.keys(teams);

        divUser.innerText = username;

        btnNewTeam.onclick = function() {
            const hiddenField = document.createElement('input');
            hiddenField.type = 'hidden';
            hiddenField.name = 'teamId';
            hiddenField.value = null;
            formTeams.appendChild(hiddenField);
            formTeams.submit();
        }

        teamIds.forEach(element => {
            var div = createTeam(formTeams,data['Teams'][element]);
            divTeams.appendChild(div);
        });
    }

    function createTeam(parent, team) {
        var divTeam = document.createElement('div');
        divTeam.onclick = function() {
            const hiddenField = document.createElement('input');
            hiddenField.type = 'hidden';
            hiddenField.name = 'teamId';
            hiddenField.value = team['id'];
            parent.appendChild(hiddenField);
            parent.submit();
        }

        divTeam.classList.add("divTeam");

        var header = document.createElement('p');
        header.innerText=team['name'];

        var listUsers = document.createElement('ul');
        divTeam.appendChild(header);
        divTeam.appendChild(listUsers);

        team['members'].forEach(element=> {
            var user = document.createElement('li');
            user.innerText=element;
            listUsers.appendChild(user);
        })

        return divTeam;
    }

    

</script>
<body>
    <form id="formTeams" method="POST" action="/app/team/">
        {% csrf_token %}
        <div id="header">
            <div class="h1 col-lg-auto">
                <div id="divTitle">LEAD TRIVIA NIGHT</div>
                <article class="clock">
                    <!-- <div class="hours"></div>
                    <div class="timesep">:</div> -->
                    <div class="minutes"></div>
                    <div class="timesep">:</div>
                    <div class="seconds"></div>
                </article>
            </div>
            <div id="userInfo">
                <div class="infoitem">Welcome </div><div id="divUser" class="infoitem"></div><div class="infoitem">! Please select a team below to join, or create a new team!</div>
            </div>
        </div>
        <div id="body">
            <div id="divTeams"></div>
        </div>
        <div id="footer">
            <input id="btnNewTeam" class="btn btn-large btn-primary" type="button" value="New Team" />
        </div>
    </form>
</body>
{% endblock %}