{% extends 'base.html'%}
{% load static %}

{% block content%}

<style>
    #formLogin {
        display: inline-block;
        margin:auto;
    }

    #divContainer {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>

<script>
    var username = '{{ username }}';

    document.onreadystatechange = function() {
        if (document.readyState=="complete") {
            var inUsername = document.getElementById('inName');
            inUsername.value = username;
        }
    }
</script>

<body>
    <div id='divContainer'>
        <form id="formLogin" method="POST" action="/app/login_user/">
            {% csrf_token %}
            <div style="width: auto; height: auto; display: inline-block;">
                <div class='form-group'>
                    <label for="inName" class='col-form-label'>Username</label>
                    <input id='inName' name='username' type="text" class='form-control' required/>
                </div>
                <div class='form-group'>
                    <label for="inPassword" class='col-form-label'>Password</label>
                    <input id='inPassword' name='password' type="password" class='form-control' required/>
                </div>
                <div class='form-group'>
                    <input type="submit" class="btn btn-success" value="Submit" />
                </div>
            </div>
        </form>
    </div>
</body>

{% endblock %}