{% extends 'base.html' %}
{% load static %}
{% block content %}


<style>
    #team {
      color: darkslategrey; 
      max-width: 300px; 
      border-color: darkgoldenrod; 
      border-style: solid; 
      border-width: 0.1em;
    }
    #team_info {
      text-align: center;
      display: block;
      float:left;
    }
    #team_name {
      display: inline-block;
    }
    .user {
      background-color: aliceblue; 
      width: 100%;
      text-align: center;
      }
    #btnLeave {
      background-color: gray;
      color: whitesmoke;
      align-self: center;
      margin: auto;
      margin-bottom:0.5em;
      display: block
    }
    
    .modal {
      width:auto;
      height:auto;
      overflow:auto;
      align-self: center;
      position:fixed;
      background-color: rgb(0,0,0);
      background-color: rgba(0,0,0,0.4);
    }
    .modal-content {
      background-color: #fefefe;
      padding: 1em;
      border: 1em solid #888;
      width:auto;
    }
    .close {
      color:#aaa;
      float:right;
      font-size: 18em;
      font-weight: bold;
    }
  
    .close:hover, close:focus {
      color:black;
      text-decoration: none;
      cursor: pointer;
    }
  
    /* https://cssanimation.rocks/clocks/ */
    .clock {
      border-radius: 50%;
      background: #fff url({% static "app/images/clock.svg" %}) no-repeat center;
      background-size: 80%;
      height: 1.5em;
      width: 1.5em;
      position:relative;
      display: inline-block;
      float:right;
    }
    .clock:after {
      background: #000;
      border-radius: 50%;
      content: "";
      position: absolute;
      left:50%;
      top:50%;
      transform: translate(-50%,-50%);
      width:5%;
      height:5%;
      z-index:10;
    }
    .minutes-container, .hours-container, .seconds-container {
      position:absolute;
      top:0;
      right:0;
      bottom:0;
      left:0;
    }
    .hours-container {
      animation: rotate 43200s infinite linear;
    }
    .hours {
      background: #000;
      height:20%;
      left: 48.75%;
      position:absolute;
      top:30%;
      transform-origin: 50% 100%;
      width:2.5%;
    }
    .minutes-container {
      transition: transform 0.3s cubic-bezier(0.4,2.08,0.55,0.44);
    }
    .minutes {
      background:#000;
      height:40%;
      left:49%;
      position: absolute;
      top:10%;
      transform-origin: 50% 100%;
      width:2%;
    }
    .seconds-container {
      transition: transform 0.2s cubic-bezier(0.4,2.08,0.55,0.44);
    }
    .seconds {
      background: goldenrod;
      height:45%; 
      left: 49.5%;
      position: absolute;
      top: 14%;
      transform-origin: 50% 80%;
      width:1%;
      z-index: 8;
    }
  
    @keyframes rotate {
      100% {
        transform: rotateZ(360deg);
      }
    }
</style>
  
<script>
/* type script here */


</script>


<div>
  {% csrf_token %}
  <div id="team" class="container">
    <div id="team_header" class="h3">
      <span>
        <article class="clock">
          <div class="hours-container">
            <div class="hours"></div>
          </div>
          <div class="minutes-container">
            <div class="minutes"></div>
          </div>
          <div class="seconds-container">
            <div class="seconds"></div>
          </div>
        </article>
      </span>
    </div>
    <div>
      <P id="Question">1. What is an "element" the Avatar cannot bend?:<BR>
        <BR>
        <input type="radio" name="Answer Option 1" value="Water">Water<BR>
        <input type="radio" name="Answer Option 2" value="Earth">Earth<BR>
        <input type="radio" name="Answer Option 3" value="Fire">Fire<BR>
        <input type="radio" name="Answer Option 4" value="Pudding">Pudding<BR>
      </p>
    </div>
    <div id="team_users" class="list-group col-lg-auto"></div>
  </div>
</div>

{% endblock %}
