{% extends 'base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static "app/styles/digitalclock.css" %}">

<style>
    #Choices{
      display: block;
      clear: both;
      float: left;
    }

    .choice{
      display: block;
      clear: both;
      float: left;
    }
    #team {
      color: darkslategrey; 
      max-width: 300px; 
      border-color: darkgoldenrod; 
      border-style: solid; 
      border-width: 0.1em;
    }
    #team_info {
      text-align: center;
      display: block;
      float:left;
    }
    #team_name {
      display: inline-block;
    }
    #Question{
      float: left;
      
    }
    .user {
      background-color: aliceblue; 
      width: 100%;
      text-align: center;
      }
    #btnLeave {
      background-color: gray;
      color: whitesmoke;
      align-self: center;
      margin: auto;
      margin-bottom:0.5em;
      display: block
    }
    
    .modal {
      width:auto;
      height:auto;
      overflow:auto;
      align-self: center;
      position:fixed;
      background-color: rgb(0,0,0);
      background-color: rgba(0,0,0,0.4);
    }
    .modal-content {
      background-color: #fefefe;
      padding: 1em;
      border: 1em solid #888;
      width:auto;
    }
    .close {
      color:#aaa;
      float:right;
      font-size: 18em;
      font-weight: bold;
    }
  
    .close:hover, close:focus {
      color:black;
      text-decoration: none;
      cursor: pointer;
    }
  
    
</style>
  
<script type="text/javascript" src="{% static "app/scripts/digitalclock.js" %}"></script>

<script>
// context["Question"] = question["Question"]
// context["Answer"] = question["Answer"]
// context["Choices"] = question["Choices"]
// context["QuestionId"] = question["QuestionId"]
var question = "{{Question | safe}}";
var choices = {{Choices | safe}};
var questionId = {{QuestionId | safe}};

document.onreadystatechange = function(){
  if (document.readyState == "complete"){
    init();
  }
}

function init() {
    initClock(30);
    initQuestion();
  }

  function timeup() {
    alert('Time expired');
  }

  function initClock(time) {
    var divHours = document.getElementsByClassName("hours")[0];
    var divMinutes = document.getElementsByClassName("minutes")[0];
    var divSeconds = document.getElementsByClassName("seconds")[0];
    initLocalClock(time,divHours,divMinutes,divSeconds);
    // setAction(timeup);//incriment question action
  }

function initQuestion(){
  if (choices.length > 1){
    initFillInBlank();
  }else{
    initMultipleChoice();
  }
 
}
function initMultipleChoice(){
  var questionDiv=document.getElementById("Question");
  var answerDiv=document.getElementById("Answer");
  var choicesDiv=document.getElementById("Choices");
  var _choices = choices[0];
  questionDiv.innerText = question;
  answerDiv.innerText = "";

  for (var i=0; i<_choices.length; i++){
    element = _choices[i];
    keys = Object.keys(element);
    l = document.createElement('label');
    l.innerText = element['value'];
    p=document.createElement('input');
    p.classList.add("list-group-item");
    p.classList.add("choice")
    p.value = element['id'];
    p.type = "radio";
    p.name = "answer";
    l.appendChild(p)  
    choicesDiv.appendChild(l);
  }
}
// ----------------------------------------------

function initFillInBlank(){
 
 
}

// function createQuestions() {
//   var div  =document.getElementById("Questions");
//   var q = question.split("{}");
//   if (q.length == choices.length+1) {
//     for (int; i=0; i<q.length; i++){
//       div.appendChild(createQuestDiv(q[i]));
//       if (i<choices.length) {
//         div.appendChild(createChoiceDiv(choices[i]));
//       }
//     }
//   }
// }

// function createQuestDiv(text) {
//   var questionDiv=document.getElementById("Question");
//   questionDiv.innerText = question;
//   }

// function createChoiceDiv(index, choices) {
//   var d = document.createElement('div');
//   choices.array.forEach(element => {
//     var c = document.createElement('input');
//     c.type = 'button'
//     c.value = element['id']
//     c.name="choice" + index
//   });
// }


</script>
<div>
  {% csrf_token %}
  <div id="team" class="container">
    <div>
    <form method = "post" action="next_question/" > <!-- use the action tag to tell the form on submit to either refresh the page or to redirect -->
      {% csrf_token %}
      <article class="clock">
        <div class="minutes"></div>
        <div class="timesep">:</div>
        <div class="seconds"></div>
      </article>
      <div>
        <div id="Question">PlaceHolder Question</div>
        </div>
      <div id = "Choices" class ="list-group col-lg-auto"> 
      </div>
      <input type="submit" value="Submit"> 
      <div id = "Answer">PlaceHolder Answer</div>
    </form>
    </div>
  </div>
</div>

{% endblock %}
