
{% extends 'base.html' %}

{% load static %}

{% block content %}

<script>
  var data = {{data|safe}}

  document.onreadystatechange = function() {
    if (document.readyState=="complete") {
      init()
    }
    
  }

  function init() {
    var g = document.getElementById("game");
    var t = document.getElementById("teams");

    g.innerText = data['Game'];
    var teamId = Object.keys(data['Teams'])[0];
    var team = data['Teams'][teamId];
    var p = document.createElement('p');
    p.innerText = team;
    t.appendChild(p);
    
    
    
  }
</script>

<div>
<p>Game Info</p>
<img src="{% static "app/images/lobbyimage.jpg" %}" alt="Lobby">
<p id="game"></p>
<div id="teams"></div>
</div>

{% endblock %}