{% extends 'base.html'%}
{% load static %}

{% block content%}

<style>
    #formLogin {
        display: inline-block;
        margin:auto;
        /* clear: both; */
    }

    #divContainer {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #ulErrors {
        max-width: 12em;
    }
</style>

<script>

    function validateForm() {
        var oldPass = document.getElementById('inOldPassword').value;
        var newPass = document.getElementById('inPassword').value;
        var conPass = document.getElementById('inPasswordConfirm').value;

        var errorList = document.getElementById('ulErrors');
        errorList.innerHTML='';
        if (oldPass==newPass || oldPass==conPass) {
            errorList.appendChild(createError('New password cannot match old password'));
            
            return false
        }
        else if (newPass != conPass) {
            errorList.appendChild(createError('Password and Password Confirmation do not match'));

            return false;
        }

        return true;
    }

    function createError(message) {
        var li = document.createElement('li');
        li.innerText=message;
        return li;
    }
</script>

<body>
    <div id='divContainer'>
        <form id="formChangePassword" method="POST" action="/app/change_password/" onsubmit="return validateForm()">
            {% csrf_token %}
            <div style="width: auto; height: auto; display: inline-block;">
                <div class='form-group'>
                    <label for="inOldPassword" class='col-form-label'>Old Password</label>
                    <input id='inOldPassword' name='oldPassword' type="password" class='form-control' required/>
                </div>
                <div class='form-group'>
                    <label for="inPassword" class='col-form-label'>New Password</label>
                    <input id='inPassword' name='password' type="password" class='form-control' required/>
                </div>
                <div class='form-group'>
                    <label for="inPasswordConfirm" class='col-form-label'>Confirm New Password</label>
                    <input id='inPasswordConfirm' name='passwordConfirm' type="password" class='form-control' required/>
                </div>
                <div class='form-group'>
                    <input type="submit" class="btn btn-success" />
                </div>
            </div>
            <ul id='ulErrors'>
            </ul>
        </form>
    </div>
</body>

{% endblock %}