{% extends '../base.html' %}
{% load static %}

{% block content%}

<style>
    .container {

    }

    .input-group-text {
        min-width: 12em;
        justify-content: right;
    }

    .form-control {
        min-width: 30em !important; 
        width: 30em !important; 
        max-width: 30em !important; 
    }

    input[type='text'] {
        border: lightgray solid 1px;
        border-radius: .5em;
        padding: 0.5em;
    }
</style>

<script>
    var username = '{{username|safe}}'
    var name = {{name|safe}};
    var currentQuestionIndex = {{currentQuestionIndex|safe}};
    var currentRound = {{currentRound|safe}};
    var currentQuestion = {{currentQuestion|safe}};
    var currentAnswer = {{currentAnswer|safe}};
    var lastQuestion = {{lastQuestion|safe}};
    var lastRound = {{lastRound|safe}};
    var countRemaining = {{countRemaining|safe}};
    var roundsRemaining = {{roundsRemaining|safe}};
    var roundFinished = {{roundFinished | safe}};
    var timeAllowed = {{timeAllowed | safe}};
    var timeStarted = '{{timeStarted | safe}}';


    document.addEventListener('readystatechange', function() {
        if (document.readyState=="complete") {
            init();
            updateButton();

        }
    });

    function init() {
        var divName = document.getElementById('inputName');
        var divRemaining = document.getElementById('divQuestRemain');
        var divRound = document.getElementById('divCurrRound');
        var divCurrentIndex = document.getElementById('divCurrentQuestion');
        var divQuestion = document.getElementById('inputQuestion');
        var divAnswer = document.getElementById('inputAnswer');
        // setTimeout(lockButton,500);
        divName.value = name;
        divRemaining.innerText = countRemaining;
        divRound.innerText = currentRound
        divCurrentIndex.innerText = currentQuestionIndex
        divQuestion.value = currentQuestion;
        divAnswer.value = currentAnswer;
        // lockButton()

    }

    // function lockButton(){
    //     var div = document.getElementById("move_forward");
    //     div.disabled = true;
    //     var currentTime = Date.now()
    //     //Lock button

        // setTimeout(lockButton,500)
    // }

    function updateButton(){
        var lquestion = lastQuestion;
        var lround = lastRound;
        var buttonDiv = document.getElementById("move_forward");
        var buttonDivBack = document.getElementById("move_back");

        if (roundFinished){
            if (lround){
                buttonDiv.style.backgroundColor = "black";
                buttonDiv.value = 'Game Finished';
                buttonDiv.disabled = true;
                buttonDivBack.disabled = true;

            }
            else{
                buttonDiv.style.backgroundColor = "orange"; 
                buttonDiv.value = 'Next Round';
               }

        }
        else{
            if (lquestion){
                if (lround){
                    buttonDiv.value = 'Final Results';
                    buttonDiv.style.backgroundColor = "cyan"; 
                }else{
                    buttonDiv.value = 'Round Results';
                    buttonDiv.style.backgroundColor = "green";
                }
            }
        }
    }
        




</script>



<body>
    {% include "../Components/top_menu.html" %}
    <div class="container">
        <div class="input-group">
            <label for="inputName" class="input-group-text">Game:</label>
            <input id='inputName' type="text" class="form-control"/>
        </div>
        <div class="input-group">
            <label for="divCurrRound" class="input-group-text">Current Round:</label>
            <div id='divCurrRound' type="text" class="form-control"></div>
        </div>
        <div class="input-group">
            <label for="divRoundRemain" class="input-group-text">Rounds Remaining:</label>
            <div id='divRoundRemain' type="text" class="form-control"></div>
        </div>
        <div class="input-group">
            <label for="divQuestRemain" class="input-group-text">Questions Remaining:</label>
            <div id='divQuestRemain' type="text" class="form-control"></div>
        </div>
        <div class="input-group">
            <label for="inputAnswer" class="input-group-text">Answer:</label>
            <input id='inputAnswer' type="text" class="form-control"/>
        </div>
        <div class="input-group">
            <label for="inputQuestion" class="input-group-text">Question:</label>
            <input id='inputQuestion' type="text" class="form-control"/>
        </div>
        <div id="divControls">
            <div id="divGameOptions" style="margin:.5em">
                <input type="submit" type="button" value="Close Game" formaction="admin_close_game/" class="btn btn-secondary" id = "close_game" />
                <input type="submit" type="button" value="Open Game" formaction="admin_open_game/" class="btn btn-secondary" id = "open_game" />
                <input type="submit" type="button" value="Finish Game" formaction="admin_finish_game/" class="btn btn-secondary" id = "finish_game" />
            </div>
            <div id="divCurrentQuestion" style="margin:.5em">
                <!-- <input type="submit" type="button" value="Previous Question" formaction="admin_prev_question/" class="btn btn-secondary" id = "move_back"> -->
                <input type="submit" type="button" value="Next Question" formaction="admin_next_question/" class="btn btn-primary" id = "move_forward">
            </div>
        </div>
    </div>
</body>

{% endblock %}