{% extends '../base.html' %}
{% load static %}

{% block content%}

<style>

</style>

<script>
    var name = {{name|safe}};
    var currentQuestionIndex = {{currentQuestionIndex|safe}};
    var currentRound = {{currentRound|safe}};
    var currentQuestion = {{currentQuestion|safe}};
    var currentAnswer = {{currentAnswer|safe}};
    var lastQuestion = {{lastQuestion|safe}};
    var lastRound = {{lastRound|safe}};
    var countRemaining = {{countRemaining|safe}};
    var roundsRemaining = {{roundsRemaining|safe}};
    var roundFinished = {{roundFinished | safe}};
    var timeAllowed = {{timeAllowed | safe}};
    var timeStarted = {{timeStarted | safe}};


    document.onreadystatechange = function() {
        if (document.readyState=="complete") {
            init();
            updateButton();

        }
    }

    function init() {
        var divName = document.getElementById('divName');
        var divRemaining = document.getElementById('divQuestionsRemaining');
        var divRound = document.getElementById('divCurrentRound');
        var divCurrentIndex = document.getElementById('divCurrentQuestion');
        var divQuestion = document.getElementById('divCurrentQuestionText');
        var divAnswer = document.getElementById('divCurrentAnswerText');
        setTimeout(lockButton,500)
        divName.innerText = name;
        divRemaining.innerText = countRemaining;
        divRound.innerText = currentRound
        divCurrentIndex.innerText = currentQuestionIndex
        divQuestion.innerText = currentQuestion;
        divAnswer.innerText = currentAnswer;
        lockButton()

    }

    function lockButton(){
        var div = document.getElementById("move_forward");
        div.disabled = true;
        var currentTime = date.now()
        //Lock button




        setTimeout(lockButton,500)
    }

    function updateButton(){
        var lquestion = lastQuestion;
        var lround = lastRound;
        var buttonDiv = document.getElementById("move_forward");
        var buttonDivBack = document.getElementById("move_back");

        if (roundFinished){
            if (lround){
                buttonDiv.style.backgroundColor = "black";
                buttonDiv.value = 'Game Finished';
                buttonDiv.disabled = true;
                buttonDivBack.disabled = true;

            }
            else{
                buttonDiv.style.backgroundColor = "orange"; 
                buttonDiv.value = 'Next Round';
               }

        }
        else{
            if (lquestion){
                if (lround){
                    buttonDiv.value = 'Final Results';
                    buttonDiv.style.backgroundColor = "cyan"; 
                }else{
                    buttonDiv.value = 'Round Results';
                    buttonDiv.style.backgroundColor = "green";
                }
            }
        }
    }
        




</script>



<body>
    <form id="formAdminGame" method="POST">
        {% csrf_token %}
        <div id="divInfo">
            <div id="divName">Placeholder Name</div>
            <div>
                <div style="float: left;">Questions Remaining:&nbsp;</div>
                <div id="divQuestionsRemaining">10</div>
            </div>
            <div>
                <div style="float: left;">Current Round:&nbsp;</div>
                <div id="divCurrentRound">1</div>
            </div>
            <div>
                <div style="float: left;">Current Question:&nbsp;</div>
                <div id="divCurrentQuestion">1</div>
            </div>
            <div>
                <div style="float: left;">Current Question:&nbsp;</div>
                <div id="divCurrentQuestionText">What is the airspeed of a swallow?</div>
            </div>
            <div>
                <div style="float: left;">Current Answer:&nbsp;</div>
                <div id="divCurrentAnswerText">African or European?</div>
            </div>
        </div>
        <div id="divControls">
            <div id="divGameOptions" style="margin:.5em">
                <input type="submit" type="button" value="Close Game" formaction="admin_close_game/" class="btn btn-secondary" id = "close_game" />
                <input type="submit" type="button" value="Open Game" formaction="admin_open_game/" class="btn btn-secondary" id = "open_game" />
                <input type="submit" type="button" value="Finish Game" formaction="admin_finish_game/" class="btn btn-secondary" id = "finish_game" />
            </div>
            <div id="divCurrentQuestion" style="margin:.5em">
                <!-- <input type="submit" type="button" value="Previous Question" formaction="admin_prev_question/" class="btn btn-secondary" id = "move_back"> -->
                <input type="submit" type="button" value="Next Question" formaction="admin_next_question/" class="btn btn-primary" id = "move_forward">
            </div>
        </div>
    </form>
</body>

{% endblock %}