{% extends '../base.html'%}
{% load static %}

{% block content %}

<style>
    form {
        margin:0.25em;
        padding:0.25em;
        width:auto;
        float:left;
    }

    input {
        width: auto;
        float: right;
    }

    #divGames {
        float: left;
        display: block;
        clear:both;
        width: 100%;
        max-height: 75%;
        overflow-y: auto;
        overflow-x: hidden;
        border-bottom: slategray solid 0.01em;
    }

    .btn {
        margin:0.25em;
    }

</style>
<script>
    var games = {{Games|safe}}
    var username = '{{username|safe}}'

    document.addEventListener('readystatechange', function() {
        if (document.readyState=="complete") {
            init();
        }
    });

    function init() {
        addGames();
    }
    function addGames() {
        var divParent = document.getElementById('divGames');
        if (games.length>0) {
            games.forEach(game => {
                divParent.appendChild(createGameForm(JSON.parse(game)));
            });
        }
    }

    function createGameForm(game) {
        game["id"];
        var form = document.createElement('form');
        form.classList.add('form-group');
        form.classList.add('border');
        
        var crf = createCrfToken();
        var id = createField("Id:&nbsp;","gameId", game.id);
        var name = createField("Name:&nbsp;", "name", game.name);
        var state = createField("State:&nbsp;", "state", game.state);
        var round = createField("Current Round:&nbsp;", "currentRound", game.current_round);
        var question = createField("Current Question Index:&nbsp;", "currentQuestionIndex", game.current_question_index);

        var val = game.start_time.date + 'T' + game.start_time.time + '.000Z';
        var value = Date.parse(val);
        
        var start = createField("Start Time:&nbsp;", "startTime", new Date(value).toLocaleDateString() + ' ' + new Date(value).toLocaleTimeString());
        var cancelled = createField("Is Cancelled:&nbsp;", "isCancelled", game.is_cancelled);
        var edit = createEdit();
        var manage = createManage();

        form.appendChild(crf);
        form.appendChild(id);
        form.appendChild(name);
        form.appendChild(state);
        form.appendChild(round);
        form.appendChild(question);
        form.appendChild(start);
        form.appendChild(cancelled);
        form.appendChild(manage);
        form.appendChild(edit);
        form.method = "POST";
        return form;
    }
    function createCrfToken() {
        var token = document.createElement('input');
        token.type = 'hidden';
        token.name = 'csrfmiddlewaretoken';
        token.value = '{{ csrf_token }}';
        return token;
    }
    function createField(label, valueId, value) {
        var div = document.createElement('div');
        div.classList.add('form-group');
        // div.classList.add('row');
        var _label = document.createElement('label');
        _label.classList.add('col-form-label');
        
        var _value = document.createElement('input');
        _value.classList.add('form-control');

        _value.type="text";
        _value.id = valueId;
        _value.name = valueId;
        _value.value=value;
        _value.setAttribute('readonly',true);
        _label.innerHTML=label;
        _label.htmlFor=valueId;
        
        div.appendChild(_label);
        div.appendChild(_value);
        return div
    }
    function createEdit() {
        var submit = document.createElement('input');
        submit.type = 'submit';
        submit.value = "Edit"
        submit.classList.add("btn");
        submit.classList.add("btn-secondary");
        submit.formAction = "/app/edit_game/";
        return submit;
    }

    function createManage() {
        var submit = document.createElement('input');
        submit.type = 'submit';
        submit.value = "Manage"
        submit.classList.add("btn");
        submit.classList.add("btn-secondary");
        submit.formAction = "/app/admin_game/";
        return submit;
    }

    function onchangeShowOpenOnly() {
        var showOpenOnly = document.getElementsByName('showOpenOnly');
        if (showOpenOnly.length>0) showOpenOnly = showOpenOnly[0];
        else return;
        var value = showOpenOnly.checked
        var games = document.getElementById('divGames');
        games.childNodes.forEach(game => {
            var skip = false;
            var inputIsCancelled = game.elements['isCancelled'];
            var isCancelled = inputIsCancelled.value;
            var inputState = game.elements['state'];
            var state = inputState.value;
            if (value && (isCancelled.value == true || isCancelled == "true" || inputState.value == 2 || inputState.value == "2")) {
                game.style.display_default = game.style.display;
                game.style.display = "none"
            } else {
                game.style.display = game.style.display_default
            }
        });
    }
</script>

<body>
    {% include "../Components/top_menu.html" %}
    <div style="float: left; margin: 0.25em;" class="border">
    <label for="chkShowOpenOnly" style="display: inline-block;">Show Open Games Only</label>
    <input style="display: inline-block; margin-left: 0.3em; margin-top: 0.3em;" type="checkbox" id="chkShowOpenOnly" name="showOpenOnly" value="Show Open Games Only" onchange="onchangeShowOpenOnly()" />
    </div>
    <div id="divGames" style="width: 100%; height:100%;"></div>
    <div style="display: block;">
        <form id="formNewGame" method="POST" action="/app/edit_game/">
            {% csrf_token %}
            <input type="submit" class="btn btn-primary" value="New Game" formaction="/app/create_game/" />
        </form>
    </div>
</body>

{% endblock %}