{% extends '../base.html'%}
{% load static %}

{% block content%}

<style>

    form {
        padding: 1em;
    }

    .btn {
        margin: 0.25em;
    }
</style>

<script>
    function validateForm() {
        
        var isValid = true;



        return isValid;
    }

    function onCancel(event) {
        document.location="/app/adminmanager";
    }
</script>

<body>
    <form id="formNewGame" method="POST" action="/app/save_game/" onsubmit="return validateForm()">
        {% csrf_token %}
        <div>
            <div class="form-group row">
                <label for="inputName" class="col-form-label">Trivia Game Name:&nbsp;</label>
                <input id="inputName" class="form-control col-sm-5" type="text" name="name" placeholder="Name" required/>
            </div>
            <div class="form-group row">
                <label for="divState" class="col-form-label">Game State:&nbsp;</label>
                <div id="divState" class="form-control col-sm-5">
                    <label for="inputClosed" class="col-form-label">Closed&nbsp;</label>
                    <input id="inputClosed" type="radio" required name="state" value="0" checked=true />
                    
                    <label for="inputOpen" class="col-form-label">Open&nbsp;</label>
                    <input id="inputOpen" type="radio" required name="state" value="1" />

                    <label for="inputFinished" class="col-form-label">Finished&nbsp;</label>
                    <input id="inputFinished" type="radio" required name="state" value="2" />
                </div>
            </div>
            <div class="form-group row">
                <label for="inputCurrentRound" class="col-form-label">Current Round:&nbsp;</label>
                <input id="inputCurrentRound" class="form-control col-sm-1" type="number" name="current_round" value="1" required />
            </div>
            
            <div class="form-group row">
                <label for="inputCurrentQuestionIndex" class="col-form-label">Current Question Index:&nbsp;</label>
                <input id="inputCurrentQuestionIndex" class="form-control col-sm-1" type="number" name="current_question_index" value="0" required/>
            </div>
            <div class="form-group row">
                <label for="inputStartDate" class="col-form-label">Start Date:&nbsp;</label>
                <input id="inputStartDate" class="form-control col-sm-4" type="date" name="start_date" value="" required/>
            </div>

            <div class="form-group row">
                <label for="inputStartTime" class="col-form-label">Start Time:&nbsp;</label>
                <input id="inputStartTime" class="form-control col-sm-4" type="time" name="start_time" value="" required/>
            </div>
            
            <div class="form-group row">
                <label for="inputIsCancelled" class="col-form-label">Game Cancelled:&nbsp;</label>
                <input id="inputIsCancelled" class="form-control col-sm-1" type="checkbox" name="is_cancelled" value="false" />
            </div>

            <div class="form-group row">
                <input type="submit" class="btn btn-primary" value="Save" />
                <button id="btnCancel" type="button" class="btn btn-danger" onclick="onCancel()">Cancel</button>
            </div>
        </div>
    </form>
</body>

{% endblock %}