{% extends '../base.html'%}
{% load static %}

{% block content%}

<style>

    .radioLabel {
        margin-right: .5em;
    }

    .btn {
        margin: 0.5em;
    }

    .col-form-label {
        width:10em;
    }

    .form-control {
        margin-top: auto;
        margin-bottom: auto;
    }

    .controls {
        margin-left: 0;
        border-top: solid lightgray 1px;
    }
</style>
<style>
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
  
    #topMenu {
        position: -webkit-sticky;
        position: sticky;
        display: inline-block;
        background-color: whitesmoke;
        border-bottom: solid darkgray 1px;
        top: 0;
        margin-bottom: 1em;    
        width: 100%;
        clear: both;
    }
  
    .menuItem {
        padding: 0.5em;
        border-left: solid 1px darkgray;
        border-right: solid 1px darkgray;
        cursor: pointer;
    }
  
    .firstMenuItem {
        padding-left: 1em;
        border-left: none;
    }
  
    .leftMenuItem {
        float: left ;
        margin-right: 1em;
    }
  
    .lastMenuItem {
        padding-right: 1em;
        border-right: none
    }
  
    .rightMenuItem {
        float:right;
        margin-left: 1em;
    }
  
    #title {
        float:left;
    }
    
  </style>

<script>
    var id = {{id|safe}};
    var name = {{name|safe}};
    var state = {{state|safe}};
    var currentRound = {{current_round|safe}};
    var currentQuestionIndex = {{current_question_index|safe}};
    var startDate = {{start_date|safe}};
    var startTime = {{start_time|safe}};
    var isCancelled = {{is_cancelled|safe}};
    var username = '{{username|safe}}'

    document.addEventListener('readystatechange', function() {
        if (document.readyState=="complete") {
            init();
        }
    });

    function init() {
        initItems();
        initEvents();
    }



    function setValue(container, property, value) {
        var item = document.getElementById(container);
        if (item!=undefined) {
            item.setAttribute(property,value)
        }
    }
    function initItems() {
        if (id!=undefined) setValue("inputId","value",id)
        if (name!="undefined") setValue("inputName","value",name);
        if (state!=undefined) {
            switch (state) {
                case 0:
                    setValue("inputClosed","checked",true);
                    break;
                case 1:
                    setValue("inputOpen","checked",true);
                    break;
                case 2:
                    setValue("inputFinished","checked",true);
                    break;
            }
        }

        
        if (currentRound!=undefined) setValue("inputCurrentRound","value",currentRound);
        if (currentQuestionIndex!=undefined) setValue("inputCurrentQuestionIndex","value",currentQuestionIndex);
        if (startDate!="undefined") setValue("inputStartDate","value",startDate);
        if (startTime!="undefined") setValue("inputStartTime","value",startTime);
        if (isCancelled!=undefined) setValue("inputIsCancelled","value",isCancelled);
        // formaction= onsubmit="return validateForm()"
        // onclick="onClose()"
        // formaction="edit_questions/" 
    }

    function initEvents() {
        var btnSave = document.getElementById("btnSave");
        var btnClose = document.getElementById("btnClose");
        var btnEditQ = document.getElementById("btnEditQuestions");

        btnSave.addEventListener('click', function() {
                var path = "/app/save_game/";
                var data = new FormData();
                var div = document.createElement('div');
                div.innerHTML='{% csrf_token %}'
                var input = div.firstChild;
                data.append("csrfmiddlewaretoken", input.value);
                data.append('name',getName());
                data.append('state',getState());
                data.append('current_round',getRoundIndex());
                data.append('current_question_index',getCurrentQuestionIndex());
                data.append('date',getStartDateTime());
                data.append('is_cancelled',getGameCancelled());
                var request = new XMLHttpRequest();
                request.open('post',path);
                request.onreadystatechange = function() {
                    if (request.readyState===4) {
                        try {
                            value = JSON.parse(request.response);
                            if (value['status'] === 'okay'){
                                alert('Game Saved')
                            }else{
                                alert(value['status']);
                            }                    
                        } catch(exception) {
                            alert(exception);
                        }
                        
                            
                    }
                }
                request.send(data);
            });

        btnClose.addEventListener('click', function() {
            document.location.href='/app/admin_manager/';
        })

        btnEditQ.addEventListener('click', function() {
            document.location.href='/app/edit_questions/';
        })
    }

    function getName() {
        var name = document.getElementsByName('name');
        return name[0].value;
    }
    function getState() {
        var state = document.getElementsByName('state');
        for (var i=0; i<state.length; i++) {
            if (state[i].checked) {
                return parseInt(state[i].value);
            }
        }

        return undefined;
    }
    function getRoundIndex() {
        var round = document.getElementsByName('current_round');
        return parseInt(round[0].value);
    }
    function getCurrentQuestionIndex() {
        var index = document.getElementsByName('current_question_index');
        return parseInt(index[0].value);
    }
    function getStartDateTime() {
        var date = document.getElementsByName('start_date');
        var time = document.getElementsByName('start_time');
        //https://stackoverflow.com/questions/948532/how-do-you-convert-a-javascript-date-to-utc
        date_val = date[0].value + ' ' + time[0].value;
        // value = Date.UTC(local_val.getUTCFullYear(), local_val.getUTCMonth(), local_val.getUTCDate(), local_val.getUTCHours(), local_val.getUTCMinutes(), local_val.getUTCSeconds());
        return date_val;

    }
    function getGameCancelled() {
        var cancelled = document.getElementsByName('is_cancelled');
        return cancelled[0].value
    }

    
</script>

<body>
    {% include "../Components/top_menu.html" %}
    <div class="container">
        <div>
            <div class="form-group row">
                <label for="inputName" class="col-form-label">Trivia Game Name:&nbsp;</label>
                <input id="inputName" class="form-control col-sm-3" type="text" name="name" placeholder="Name" required/>
            </div>
            <div class="form-group row">
                <label for="divState" class="col-form-label">Game State:&nbsp;</label>
                <div id="divState" class="form-control col-sm-3">
                    <fieldset>
                        <label for="inputClosed" class="radioLabel"><input id="inputClosed" type="radio" required name="state" value=0 />&nbsp;Closed</label>
                        <label for="inputOpen" class="radioLabel"><input id="inputOpen" type="radio" required name="state" value=1 />&nbsp;Open</label>
                        <label for="inputFinished" class="radioLabel"><input id="inputFinished" type="radio" required name="state" value=2 />&nbsp;Finished</label>
                    </fieldset>
                </div>
            </div>
            <div class="form-group row">
                <label for="inputCurrentRound" class="col-form-label">Current Round:&nbsp;</label>
                <input id="inputCurrentRound" class="form-control col-sm-1" type="number" name="current_round" value="1" required />
            </div>
            <div class="form-group row">
                <label for="inputCurrentQuestionIndex" class="col-form-label">Current Question Index:&nbsp;</label>
                <input id="inputCurrentQuestionIndex" class="form-control col-sm-1" type="number" name="current_question_index" value="0" required/>
            </div>
            <div class="form-group row">
                <label for="inputStartDate" class="col-form-label">Start Date:&nbsp;</label>
                <input id="inputStartDate" class="form-control col-sm-2" type="date" name="start_date" value="" required/>
            </div>

            <div class="form-group row">
                <label for="inputStartTime" class="col-form-label">Start Time:&nbsp;</label>
                <input id="inputStartTime" class="form-control col-sm-2" type="time" name="start_time" value="" required/>
            </div>
            
            <div class="form-group row">
                <label for="inputIsCancelled" class="col-form-label">Game Cancelled:&nbsp;</label>
                <input id="inputIsCancelled" type="checkbox" name="is_cancelled" value="false" />
            </div>
        </div>
        <div class="controls col-sm-6">
            <button id="btnSave" class="btn btn-primary">Save</button>
            <button id="btnClose" type="button" class="btn btn-danger">Close</button>
            <button id="btnEditQuestions" class="btn btn-secondary">Edit Questions</button>
        </div>
    </div>
</body>

{% endblock %}